In [1]:
""" import the necessary libraries """
import pandas as pd
import numpy as np

In [2]:
""" Read the dataset we got from Kaggle """
dataset = pd.read_csv("Dataset/Student_Performance.csv")

In [3]:
""" read sample from this dataset """
dataset.sample(5)

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
5079,1,52,No,5,8,26.0
7018,5,59,No,4,1,41.0
683,6,55,Yes,6,6,45.0
5232,1,52,Yes,8,4,27.0
7867,6,75,Yes,7,0,63.0

In [4]:
type(dataset)

pandas.core.frame.DataFrame

In [5]:
""" Shuffle the dataset ,so we can make sure that the ordering of the dataset does not affect the learning process """
import random
dataset = dataset.sample(frac = 1) #shuffle by rows

In [6]:
dataset.sample(5)

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
4734,8,56,No,7,0,50.0
4698,3,91,Yes,8,8,73.0
8763,7,62,No,8,8,54.0
2770,3,83,No,6,2,66.0
9456,5,50,No,9,6,35.0

In [7]:
""" Check whether there are missing values in the dataset or not """
dataset.isnull().sum()

Hours Studied                       0
Previous Scores                     0
Extracurricular Activities          0
Sleep Hours                         0
Sample Question Papers Practiced    0
Performance Index                   0
dtype: int64

### it seems that there are not missing values in the dataset

In [10]:
""" Check whether the dataset contains duplicates rows OR not """
duplicate = dataset[dataset.duplicated()]

In [11]:
duplicate

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
5667,9,49,No,5,0,46.0
8049,6,58,Yes,9,9,50.0
4596,1,92,Yes,6,7,67.0
507,4,70,Yes,6,8,53.0
5049,5,42,Yes,6,0,26.0
...,...,...,...,...,...,...
6225,4,41,Yes,5,7,23.0
6351,8,73,No,5,4,68.0
9379,9,87,No,7,9,86.0
426,9,86,Yes,6,9,83.0
7873,6,46,No,5,3,34.0

# it seems that there are 127 duplicate rows in the dataset

In [13]:
""" Drop the duplicate rows """
dataset = dataset.drop_duplicates()

# Handle Categorical Columns
### Extracurricular Activities column is a categorical

In [15]:
import sklearn

In [16]:
!pip install category_encoders

Collecting category_encoders
  Downloading category_encoders-2.6.3-py2.py3-none-any.whl (81 kB)
     -------------------------------------- 81.9/81.9 kB 761.9 kB/s eta 0:00:00
Requirement already satisfied: statsmodels>=0.9.0 in c:\users\ashraf\anaconda3\lib\site-packages (from category_encoders) (0.13.2)
Requirement already satisfied: numpy>=1.14.0 in c:\users\ashraf\anaconda3\lib\site-packages (from category_encoders) (1.21.5)
Requirement already satisfied: patsy>=0.5.1 in c:\users\ashraf\anaconda3\lib\site-packages (from category_encoders) (0.5.2)
Requirement already satisfied: scipy>=1.0.0 in c:\users\ashraf\anaconda3\lib\site-packages (from category_encoders) (1.9.1)
Requirement already satisfied: pandas>=1.0.5 in c:\users\ashraf\anaconda3\lib\site-packages (from category_encoders) (1.4.4)
Requirement already satisfied: scikit-learn>=0.20.0 in c:\users\ashraf\anaconda3\lib\site-packages (from category_encoders) (1.0.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\ashraf\anaconda3\lib\site-packages (from pandas>=1.0.5->category_encoders) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\ashraf\anaconda3\lib\site-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: six in c:\users\ashraf\anaconda3\lib\site-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: joblib>=0.11 in c:\users\ashraf\anaconda3\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\ashraf\anaconda3\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (2.2.0)
Requirement already satisfied: packaging>=21.3 in c:\users\ashraf\anaconda3\lib\site-packages (from statsmodels>=0.9.0->category_encoders) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\ashraf\anaconda3\lib\site-packages (from packaging>=21.3->statsmodels>=0.9.0->category_encoders) (3.0.9)
Installing collected packages: category_encoders
Successfully installed category_encoders-2.6.3

In [17]:
import category_encoders as ce

In [18]:
ce_OHE = ce.OneHotEncoder(cols=['Extracurricular Activities'])

updated_dataset = ce_OHE.fit_transform(dataset)

In [19]:
updated_dataset.sample(5)

,Hours Studied,Previous Scores,Extracurricular Activities_1,Extracurricular Activities_2,Sleep Hours,Sample Question Papers Practiced,Performance Index
3055,3,88,0,1,5,3,68.0
3812,5,89,0,1,5,7,74.0
5202,6,96,0,1,9,7,87.0
2552,8,87,1,0,8,2,87.0
360,8,88,0,1,5,8,85.0